* {
	padding:0;
	margin:0;
}

.nav_list *{
	margin:10px;
	list-style-type:none;
}


.minimum{
	background-color:purple;
}

.maximum{
	background-color:yellow;
}

.minimum.maximum{
	background-color:grey;
}
