* {
	padding:0;
	margin:0;
}

body{
	background-color:black;
	color:white;
}

input{
	background-color:gray;
}

.credits{
	position:absolute;
	bottom:0;
}

.nav_list *{
	margin:10px;
	list-style-type:none;
}


.minimum{
	background-color:purple;
	color:white;
}

.maximum{
	background-color:yellow;
}

.minimum.maximum{
	background-color:#444;
}

#matrixBay{
	background-color:black;
}

#gridControls{
	display:none;
	background-color:black;
	width:250px;
}

.purple{
	color:purple;
	background-color:black;
}

.yellow{
	color:yellow;
	background-color:black;
}

.grey{
	color:#444;
	background-color:black;
}

#solveSumSquares{
	float:left;
}

#legend{
	float:left;
}

.content{
	margin:0 auto;
	width:500px;
}
