<table class="datasheet">
	<thead>
		<th>Head1</th>
		<th>Head2</th>
		<th>Head3</th>
		<th>Head4</th>
	</thead>
	
	<tbody>
		<td><input type="text" value="1"/></td>
		<td><input type="text" value="1"/></td>
		<td><input type="text" value="1"/></td>
		<td><input type="text" value="1"/></td>
	</tbody>
	
</table>
