<h1>Ruby Reloaded Script Launcher</h1>
<p>Here is a web app that allows you to use ruby scripts that were presented as challenges by Peter Cooper to a class of Ruby students.</p>
<ul class='nav_list'>
	<a href="/sum_squares"><li>Sum Squares</li></a>
</ul>