<!DOCTYPE html>
<html>
<head>
  <title>RubyReloaded</title>
  <%# stylesheet_link_tag :all %>
  <link href="/stylesheets/m.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/datasheet.css" media="screen" rel="stylesheet" type="text/css" />
  <%# javascript_include_tag :defaults %>
  <script src="/javascripts/jquery-1.7.2.min.js"></script>
  <%= csrf_meta_tag %>
</head>
<body>
	<div class="content">
		<%= yield %>
	</div>
	<% unless @credits.nil? or @credits.empty? %>
	<div class='credits'>Gem/code provided by: <%= @credits %></div>
	<%end%>
</body>
</html>